div.blocks {
    float: right;
    margin-left: 5px;
    top: 150px;
}

dl.blocks-block-configs {
    margin-left: 20px;
}
dl.blocks-block-configs dt {
    display:inline;
}


div.block-collection-item img {
    width: 120px;
}